﻿body, ul { margin: 0px; }
ul { list-style: none; }
a { text-decoration: none; }
    a:hover { text-decoration: underline; }

.clear { float: none; clear: both; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { float: none; clear: both; display: block; }


.login { }
    .login .login_title { padding: 18px; border-bottom: 1px solid #E3E3E3; }
        .login .login_title .login_title_banner { width: 1000px; margin: 0px auto; }
    /*.login .login_title .login_title_banner img { float: left; }*/
    /*.login .login_title .login_title_banner .logo_title { float: left; font-family: 微软雅黑; height: 30px; line-height: 30px; font-size: 20px; margin-top: 2px; color: #3C3C3C; }*/
    .login .login_area { width: 1000px; margin: 100px auto 0px auto; position: relative; top: 0px; left: 0px; }
        .login .login_area .login_image { max-width: 550px; }
        .login .login_area .login_module { border: 1px solid #D4D4D4; position: absolute; top: 0px; right: 100px; width: 290px; font-size: 13px; color: #4D4D4D; }
            .login .login_area .login_module .login_wrap { width: 250px; margin: 20px auto; }
                .login .login_area .login_module .login_wrap .login_name { border-bottom: 1px solid #D4D4D4; padding-bottom: 5px; color: #4d4d4d; font-family: 微软雅黑; font-size: 14px; font-weight: bold; }
                .login .login_area .login_module .login_wrap .login_data { margin-top: 20px; }
                    .login .login_area .login_module .login_wrap .login_data .Validform_checktip { display: none; }
                    .login .login_area .login_module .login_wrap .login_data .item .clearfix { margin-top: 12px; margin-bottom: 5px; font-weight: bold; font-family: 微软雅黑; color: #4d4d4d; }
                        .login .login_area .login_module .login_wrap .login_data .item .clearfix span { float: left; }
                        .login .login_area .login_module .login_wrap .login_data .item .clearfix a { float: right; font-size: 12px; font-weight: normal; color: #00A2CA; }
                    .login .login_area .login_module .login_wrap .login_data input[type='text'],
                    .login .login_area .login_module .login_wrap .login_data input[type='password'] { border: 1px solid #D7D7D7; border-radius: 2px; height: 14px; padding: 6px 0; line-height: 14px; padding-left: 5px; font-size: 13px; width: 240px; }
                        .login .login_area .login_module .login_wrap .login_data input[type='text'].verify { width: 145px; float: left; }
                    .login .login_area .login_module .login_wrap .login_data .verifycode { height: 30px; float: left; margin-left: 10px; cursor: pointer; }
                    .login .login_area .login_module .login_wrap .login_data .btnlogin { margin-top: 18px; width: 250px; background-color: #00a2ca; border: 0px; height: 36px; line-height: 32px; font-size: 14px; color: #FFFFFF; border-radius: 3px; padding: 0px; font-weight: bold; cursor: pointer; }
                    .login .login_area .login_module .login_wrap .login_data .support { margin-top: 18px; text-align: center; }
                        .login .login_area .login_module .login_wrap .login_data .support a { color: #4d4d4d; }


.top { }
    .top .topbar { height: 28px; line-height: 28px; background-color: #008EB7; font-size: 12px; color: #FFFFFF; }
        .top .topbar .topitem { width: 1200px; /*margin: 0px auto;*/ margin-left: 30px; font-family: 微软雅黑; }
            .top .topbar .topitem .logout { color: white; font-weight: bold; margin-left: 10px; }
    .top .menubar { background-color: #00A2CA; }
        .top .menubar .menuitem { position: relative; /*width: 1200px;*/ height: 62px; top: 0px; left: 0px; z-index: 99999; /*margin: 0px auto;*/ margin-left: 30px; }
            .top .menubar .menuitem .logo { float: left; /*width: 200px;*/ height: 50px; margin-top: 6px; border: 0px; }
            .top .menubar .menuitem .menu { float: left; padding-left: 20px; height: 62px; position: relative; top: 0px; /*left: 210px;*/ z-index: 99999; }
                .top .menubar .menuitem .menu li { float: left; }
                    .top .menubar .menuitem .menu li .m1 { display: block; font-family: 微软雅黑; font-size: 16px; color: #FFFFFF; height: 62px; line-height: 62px; padding: 0px 25px; }
                        .top .menubar .menuitem .menu li:hover .m1, .top .menubar .menuitem .menu li .m1.current { background-color: #0196BD; }
                    .top .menubar .menuitem .menu li .submenu { position: absolute; top: 62px; left: 20px; z-index: 99999; width: 940px; padding: 20px 5px 15px 25px; border: 1px solid #E6E6E6; filter: progid:DXImageTransform.Microsoft.Shadow(color='#DDDBDB', Direction=135, Strength=3); /*for ie6,7,8*/ background-color: #FFFFFF; -moz-box-shadow: 0px 1px 5px #DDDBDB; /*firefox*/ -webkit-box-shadow: 0px 1px 5px #DDDBDB; /*webkit*/ box-shadow: 0px 1px 5px #DDDBDB; /*opera或ie9*/ display: none; font-family: 微软雅黑, 'Microsoft Yahei', 'Hiragino Sans GB', tahoma, arial, 宋体; font-size: 14px; color: #333333; line-height: 18px; background: url(/images/menu_bg2.jpg) no-repeat #FFFFFF right bottom; }
                        /*.top .menubar .menuitem .menu li:hover .submenu { display: block; }*/
                        /*.top .menubar .menuitem .menu li .menu2 .module_wrap { display: inline-block; *display: inline; *zoom: 1; _zoom: 1; _display: inline; vertical-align: top; margin: 0px 1px; font-family: 微软雅黑, 'Microsoft Yahei', 'Hiragino Sans GB', tahoma, arial, 宋体; }
                            .top .menubar .menuitem .menu li .menu2 .module_wrap .module_hd { color: #999999; margin: 0px 15px 15px 0px; padding-bottom: 12px; border-bottom: 1px solid #F2F2F2; }
                            .top .menubar .menuitem .menu li .menu2 .module_wrap .module-bd { padding-bottom: 20px; }
                                .top .menubar .menuitem .menu li .menu2 .module_wrap .module-bd a { display: inline-block; width: 168px; padding-bottom: 18px; color: #333333; }
                                    .top .menubar .menuitem .menu li .menu2 .module_wrap .module-bd a:hover { text-decoration: underline; color: #00A2CA; }*/
                        .top .menubar .menuitem .menu li .submenu .menu2 { display: inline-block; *display: inline; *zoom: 1; _zoom: 1; _display: inline; vertical-align: top; margin-right: 20px; }
                            .top .menubar .menuitem .menu li .submenu .menu2 a { display: inline-block; width: 150px; padding: 8px 0px; color: #333333; }
                                .top .menubar .menuitem .menu li .submenu .menu2 a:hover { text-decoration: underline; color: #00A2CA; }
                                .top .menubar .menuitem .menu li .submenu .menu2 a.root { color: #999999; }
                                    .top .menubar .menuitem .menu li .submenu .menu2 a.root:hover { text-decoration: none; color: #999999; }
                            .top .menubar .menuitem .menu li .submenu .menu2 .menu3 { border-top: 1px solid #F2F2F2; padding-top: 6px; padding-bottom: 15px; }
                                .top .menubar .menuitem .menu li .submenu .menu2 .menu3 a { display: inline-block; }




#tabDiv { background: url(/images/tabline.png) repeat-x 0px bottom; font-size: 12px; position: relative; z-index: 1111; }
    #tabDiv .tab_title { position: relative; top: 0px; left: 0px; margin-top: 5px; z-index: 1111; }
        #tabDiv .tab_title .aleft { float: left; width: 15px; height: 26px; background: url(/images/tabs_leftarrow.png) no-repeat center center; border: 1px solid #d7d7d7; border-bottom: 0px; padding-left: 5px; }
        #tabDiv .tab_title .topTab { position: relative; width: 95%; top: 0px; overflow: hidden; height: 28px; line-height: 25px; z-index: 1111; }
            #tabDiv .tab_title .topTab .scroll { position: absolute; width: 5000px; margin: 0px; padding: 0px; margin: 0px 5px; z-index: 1111; }
                #tabDiv .tab_title .topTab .scroll li { float: left; margin-right: 10px; line-height: 25px; padding: 0px 10px; cursor: pointer; }
                    #tabDiv .tab_title .topTab .scroll li.normal { background-color: white; border: 1px solid #c7cedb; border-top: 2px solid #6cbe4a; color: #999999; }
                    #tabDiv .tab_title .topTab .scroll li:hover, #tabDiv .tab_title .topTab .scroll li.select { background-color: #eaedef; border: 1px solid #c7cedb; border-top: 2px solid #1c7efb; border-bottom: 1px solid #eaedef; }
                    #tabDiv .tab_title .topTab .scroll li a { color: #999999; text-decoration: none; cursor: pointer; }
                    #tabDiv .tab_title .topTab .scroll li .fl { float: left; display: inline; }
                #tabDiv .tab_title .topTab .scroll .tabClose { display: block; width: 20px; height: 25px; background: url(/images/tab_close.png) no-repeat center center; float: left; }
                    #tabDiv .tab_title .topTab .scroll .tabClose:hover { background: url(/images/tab_closing.png) no-repeat center center; }


        #tabDiv .tab_title .downarrow { position: absolute; top: 0px; right: 21px; z-index: 1111; }
        #tabDiv .tab_title .tabActionArea { height: 27px; width: 23px; background: url(/images/tabs_downarrow.png) no-repeat center center; }
        #tabDiv .tab_title .downArrowContent { box-shadow: 0 2px 4px rgba(0,0,0,.4); display: none; position: absolute; top: 27px; right: 0px; z-index: 1111; background-color: white; }
        #tabDiv .tab_title .tabActionArea:hover .downArrowContent { display: block; }
        #tabDiv .tab_title .downArrowContent span { }
            #tabDiv .tab_title .downArrowContent span a { display: block; border-bottom: 1px solid #EEE; padding: 3px 10px; width: 80px; height: 20px; line-height: 20px; color: #666666; text-decoration: none; }
        #tabDiv .tab_title .aright { position: absolute; top: 0px; right: 0px; z-index: 1111; width: 15px; padding-left: 5px; margin-left: 2px; background: url(/images/tabs_rightarrow.png) center no-repeat; border: 1px solid #d7d7d7; height: 26px; border-bottom: 0px; }




.mainpage { background-color: #F3F3F3; }
