/*
Product Name: dhtmlxTree 
Version: 4.4 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxmenu_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
.dhtmlxMenu_dhx_web_Middle {
	position: relative;
	height: 26px;
	border: none;
	background-color: #f4f4f4;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxMenu_dhx_web_Middle div.top_sep {
	float: left;
	position: relative;
	height: 20px;
	width: 0px;
	border-left: 1px solid #c1c1c1;
	margin: 3px 2px 0px 0px;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxMenu_dhx_web_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 18px;
	height: 18px;
}
.dhtmlxMenu_dhx_web_Middle div.dhtmlxMenu_TopLevel_Text_right {
	position: absolute;
	top: 5px;
	left: none;
	right: 8px;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	cursor: default;
}
.dhtmlxMenu_dhx_web_Middle div.dhtmlxMenu_TopLevel_Text_left {
	position: absolute;
	top: 5px;
	right: none;
	left: 8px;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	cursor: default;
}
.dhtmlxMenu_dhx_web_Middle.dir_left div.align_left {
	float: left;
}
.dhtmlxMenu_dhx_web_Middle.dir_left div.align_right {
	float: right;
}
div.dhtmlxMenu_dhx_web_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected {
	position: relative;
	float: left;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	cursor: default;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin: 2px 2px 0px 0px;
	padding: 0px 3px;
}
div.dhtmlxMenu_dhx_web_TopLevel_Item_Normal div.top_level_text,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled div.top_level_text,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected div.top_level_text {
	float: left;
	margin: 0px 3px;
}
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled {
	color: #999999;
}
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected {
	background-color: #85d3ff;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon {
	position: absolute;
	border: 1px solid #ffffff;
	*border: 1px solid #ccc;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
	padding: 3px 0px;
	background-color: #f4f4f4;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td {
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	padding: 0px 4px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected td {
	background-color: #85d3ff;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon {
	width: 18px;
	text-align: center;
	vertical-align: middle;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon {
	float: left;
	margin: 0px;
	width: 18px;
	height: 18px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text {
	padding: 0px 12px 0px 1px;
	height: 26px;
	line-height: 25px;
	white-space: nowrap;
	text-align: left;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text {
	color: #999999;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk {
	padding-left: 8px;
	padding-right: 8px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk {
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #333333;
	text-align: right;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk {
	color: #999999;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow {
	width: 4px;
	margin: 0px 2px 0px 5px;
	height: 22px;
	background-image: url("../imgs/dhxmenu_web/dhxmenu_subar.gif");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	overflow: hidden;
	font-size: 1px;
	float: right;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow {
	background-position: -4px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow {
	background-position: -8px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow_loading {
	width: 11px;
	height: 22px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_web/dhxmenu_loader.gif");
	float: right;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon {
	float: left;
	margin: 0px;
	width: 18px;
	height: 18px;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_web/dhxmenu_chrd.gif");
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0 {
	background-position: 0px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1 {
	background-position: -18px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0 {
	background-position: -36px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1 {
	background-position: -54px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0 {
	background-position: -72px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1 {
	background-position: -90px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0 {
	background-position: -108px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1 {
	background-position: -126px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon tr.sub_sep td {
	padding: 2px 0px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon div.sub_sep {
	position: static;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	width: 100%;
	border-top: 1px dotted #b4b4b4;
	*border-top: 1px solid #cecece;
}
iframe.dhtmlxMenu_IE6CoverFix_dhx_web {
	position: absolute;
	border: none;
	background: #000000;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Over,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Disabled {
	position: relative;
	font-size: 1px;
	border-bottom: 1px solid #b4b4b4;
	background-image: url("../imgs/dhxmenu_web/dhxmenu_arrow_up.gif");
	background-repeat: no-repeat;
	background-position: center center;
	padding: 8px 0px;
	margin-bottom: 3px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Disabled {
	background-image: url("../imgs/dhxmenu_web/dhxmenu_arrow_up_dis.gif");
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Over,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Disabled {
	position: relative;
	font-size: 1px;
	border-top: 1px solid #b4b4b4;
	background-image: url("../imgs/dhxmenu_web/dhxmenu_arrow_down.gif");
	background-repeat: no-repeat;
	background-position: center center;
	padding: 8px 0px;
	margin-top: 3px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Disabled {
	background-image: url("../imgs/dhxmenu_web/dhxmenu_arrow_down_dis.gif");
}
