/* 
 * My97 DatePicker 4.7
 */

.WdateDiv { width: 180px; background-color: #FFFFFF; border: #bbb 1px solid; }

.WdateDiv2 { width: 360px; }
.WdateDiv * { font-size: 9pt; }

.WdateDiv .NavImg a { display: block; cursor: pointer; height: 16px; width: 16px; margin-top: 4px; }

.WdateDiv .NavImgll a { float: left; background: transparent url(img.gif) no-repeat scroll 0 0; }
.WdateDiv .NavImgl a { float: left; background: transparent url(img.gif) no-repeat scroll -16px 0; }
.WdateDiv .NavImgr a { float: right; background: transparent url(img.gif) no-repeat scroll -32px 0; }
.WdateDiv .NavImgrr a { float: right; background: transparent url(img.gif) no-repeat scroll -48px 0; }

.WdateDiv #dpTitle { height: 24px; padding: 1px; background-color: #f1f1f1; border-bottom: 1px solid #e1e1e1; }

.WdateDiv .yminput { margin-top: 2px; text-align: center; height: 20px; border: 0px; width: 50px; cursor: pointer; background-color: transparent; }

.WdateDiv .yminputfocus { margin-top: 2px; text-align: center; font-weight: bold; height: 20px; color: blue; border: #ccc 1px solid; width: 50px; }

.WdateDiv .menuSel { z-index: 1; position: absolute; background-color: #FFFFFF; border: #ccc 1px solid; display: none; }

.WdateDiv .menu { cursor: pointer; background-color: #fff; }

.WdateDiv .menuOn { cursor: pointer; background-color: #1c7efb; color: #FFFFFF; }

.WdateDiv .invalidMenu { color: #aaa; }

.WdateDiv .YMenu { margin-top: 20px; }

.WdateDiv .MMenu { margin-top: 20px; *width: 62px; }

.WdateDiv .hhMenu { margin-top: -90px; margin-left: 26px; }

.WdateDiv .mmMenu { margin-top: -46px; margin-left: 26px; }

.WdateDiv .ssMenu { margin-top: -24px; margin-left: 26px; }

.WdateDiv .Wweek { text-align: center; background: #DAF3F5; border-right: #BDEBEE 1px solid; }

.WdateDiv .MTitle { background-color: #f8f8f8; }
.WdateDiv .WdayTable2 { border-collapse: collapse; border: #c5d9e8 1px solid; }
    .WdateDiv .WdayTable2 table { border: 0; }

.WdateDiv .WdayTable { line-height: 20px; }
    .WdateDiv .WdayTable td { text-align: center; }

.WdateDiv .Wday { cursor: pointer; color:#000000; }

.WdateDiv .WdayOn { cursor: pointer; background-color: #4997fb; color: #FFF; }

.WdateDiv .Wwday { cursor: pointer; color: #AB1E1E; }

.WdateDiv .WwdayOn { cursor: pointer; color: #FFFFFF; background-color: #4997fb; }
.WdateDiv .Wtoday { cursor: pointer; color: #1c7efb; }
.WdateDiv .Wselday { color: #FFF; background-color: #1c7efb; }
.WdateDiv .WspecialDay { background-color: #66F4DF; }

.WdateDiv .WotherDay { cursor: pointer; color: #65A4F3; }

.WdateDiv .WotherDayOn { cursor: pointer; background-color: #4997fb; color: #FFFFFF; }

.WdateDiv .WinvalidDay { color: #aaa; }

.WdateDiv #dpTime { float: left; margin-top: 3px; margin-right: 30px; }

    .WdateDiv #dpTime #dpTimeStr { margin-left: 1px; }

    .WdateDiv #dpTime input { width: 18px; height: 20px; text-align: center; border: #ccc 1px solid; }

    .WdateDiv #dpTime .tB { border-right: 0px; }

    .WdateDiv #dpTime .tE { border-left: 0; border-right: 0; }

    .WdateDiv #dpTime .tm { width: 7px; border-left: 0; border-right: 0; }

    .WdateDiv #dpTime #dpTimeUp { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -32px -16px; }

    .WdateDiv #dpTime #dpTimeDown { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -48px -16px; }

.WdateDiv #dpQS { float: left; margin: 3px; background: url(img.gif) no-repeat 0px -16px; width: 22px; height: 20px; cursor: pointer; }
.WdateDiv #dpControl { text-align: right; }
.WdateDiv .dpButton { height: 20px; width: 45px; border: #e6e6e8 1px solid; background: #e6e6e8; margin-top: 2px; margin-right: 1px; cursor: pointer; margin-bottom: 2px; }
    .WdateDiv .dpButton:hover { background-color: #1c7efb; color: #FFF; }
